*{
	padding:0;
	margin:0;
	font-family:arial;
	background:grey;
}
body{
	background:orange;
}
/*page header styles*/
#webHeader{

	position:relative;
	z-index:999;
	width:70%;
	margin:0 auto;
	height:186;
}
#main{
	position:relative;
	z-index:0;	
	color:beige;
	width:70%;
	height:650px;	
	margin: 0 auto;
	background:grey;
}
#top{
	position:absolute;
	background:black;
	width:100%;
}
#footer{
	position:relative;
	color:orange;
	width:70%;
	margin: 0 auto;
	background:black;
	height:175px;
}
#menu{

	position:absolute;
	margin-top:114px;
	width:100%;
	list-style-type:none;	
}
#menu li{
	color:orange;
	font-size:17px;
	float:left;
	text-align:center;
	height:50px;
	padding-top:30px;
	width:20%;
	background:beige;
}
#menu li:hover{
	background:orange;
	cursor:pointer;
	color:beige;
}
#partMenu,#adminMenu{
	display:none;
	margin:0;
	padding:0;
	list-style-type:none;
	margin-top:26px;
	height:90%;
}
#partMenu li,#adminMenu li{
	width:100%;
	height:30px;
	padding-top:10px;
	float:none;
	background:beige;
	color:orange;
	text-align:left;
	text-indent:8px;
}	
#arrowPic,#arrowPic2{
	height:28px;
	width:28px;
}
#logo1{
	background:black;
	padding:12px;
	height:90px;
}
#twlogo,#fblogo{
	height:30px;
	padding-left:10px;
	background:black;
}
#search{
	height:30px;
	width:120px;
	font-size:16px;
	background:black;
	color:beige;
	border:solid beige 2px;
	border-radius:8px;
	padding-left:5px;
}
#goBtn{
	height:30px;
	width:35px;
	font-size:18px;
	color:beige;
	font-weight:bold;
	background:orange;
	margin-left:-3px;
}
#donateLink{
	font-weight:bold;
	text-decoration:none;
	display:block;
	background:orange;
	color:beige;
}
.infoTable{
	background:grey;
	color:beige;
	margin:0 auto;
	font-size:18px;
	padding:10px;
}
.infoTable td{
	background:grey;
	width:50%;
}

.topTable{
	background:black;
	width:100%;
	margin-top:-12px;
}
.topTable td{
	background:black;
	color:beige;
	padding:6px;
	padding-right:2px;
}
#donateDiv{
	background:orange;
	padding:3px;
	width:80px;
	text-align:center;
	border:solid 2px beige;
	border-radius:10px;
}
#donateDiv:hover{
	border:solid 2px yellow;
}
#donateLink:hover{
	color:yellow;
}
#footerTable{
	padding-top:40px;
	width:50%;
	margin:0 auto;
	background:black;
}
#footerTable td{
	background:black;
}
.footerList li{
	list-style-type:none;
	background:black;
	padding-left:25%;
	width:200px;
}
.footerList li a{
	color:beige	;
	background:black;
	text-decoration:none;
	font-size:17px;
}
.footerList li a:hover{
	color:orange;
}

/* "route_create.html" styling START */
#createMap,#selectMap{
	width:390;/* 437 */
	border:solid black 5px;
}
#createTable{
	width:100%;
	margin-top:5px;
}

#routeBtnTable{
	margin:0 auto;
	margin-top:5px;
	width:390px;
	background:grey;
}
#routeBtnTable tr{
	background:grey;
}
#routeTable{
	margin:0 auto;
	background:beige;
	font-weight:bold;
	height:180px;
	table-layout:fixed;
	width:400px;
	border:solid 5px black;
	margin:20px;
	margin-top:0;
}
#routeTable th{
	height:1px;
	background:beige;	
}
#routeTable caption{
	background:black;
	padding-top:7px;
	height:18px;
	border:solid 2px black;
	margin: 0 auto;
	color:orange;
	font-weight:bold;
}
#routeTable td{
	background:beige;
	padding:3px;
}
.bubble{
	width:20px;
	height:20px;
	border-radius:10px;
	background:red;
	margin:0 auto;
}
.routeCell{
	padding-left:5px;
}
.bubbleCell,.sizeCell{
	text-align:center;
}

#loginTable{
	margin:0 auto;
	margin-top:-8px;
	background:beige;
	color:orange;
}
#pageTitle{
	font-size:40px;
	background:grey;
	padding:10px;
	padding-top:25px;	
	color:orange;
	margin:0 auto;
	width:380px;
	text-shadow: 2px 2px 5px #000;
}
#wayBtn{
	width:150px;
	
}
#doneBtn,#backBtn{
	width:60px;
}
.createBtn{
	padding:4px;
	text-align:center;
	border:solid black 3px;
	border-radius:8px;
	position:relative;
	font-weight:bold;
	color:black;
	font-size:18px;
	float:left;
	width:33%;
	margin:10px;
}
.createBtn:hover{
	cursor:pointer;
	color:beige;
}
#capacity{
	width:50px;
}
#name{
	width:140px;
}
option{
	background:beige;
}
#selColour,#capacity,#type,#name,#accessible{
	background:beige;
	font-size:18px;
	border:solid black 3px;
}

/* "route_create.html" styling END */

/* route_select.html start*/

.routeInfo{
	color:orange;
}
.radioCell{
	text-align:center;
}



/* route_select.html end */



/* "part_invite.html" style */

table#inv_table {
	border: 3px solid black;
	margin: auto;
	width: 80%;
	text-align: center;
	position: relative;
	background: grey;
}

#inv_table th {
	background-color: #333333;
	color: beige;
}

#inv_table td {
	background-color: beige;
}

button {
	margin: 2%;
	width: 85%;
	background-color: grey; 
	border-radius: 6px;
}

#invButton {
	width:70px;
	background-color: beige;
	height: 19px;
}

#searchButton {
	width: 70px;
	background-color: beige;
	height:19px;
}

/* "part_invite.html" style END */
/* Log-in form style */
#ContactDetails{
	margin:auto;
	width:60%;
	float:center ;
}
#deets {
	margin:auto;
	border: 4px solid orange;
	width: 70%;
	padding:15px;
}
#bannerImg {
	position:absolute;
	width:800px;
	left:50%;
	margin-left:-400px;
}
#loginForm {
	
	border-radius:15px;
	margin: auto;
	width: 40%;
	text-align: center;
	position: relative;
	background: grey;
	padding:10px;
}

#username {
		background-color: beige; 

}
#password {
		background-color: beige; 

}

#buttongroup
{
    border: 1px solid lime;
    text-align: center;
}


div #loginChoices {
	margin: 0;
    text-align: center;

}
#loginButton{
	height:30px;
	width:75px;
	font-size:18px;
	background:black;
	color:black;
	font-weight:bold;
	background:orange;
}
#cancelButton {
	height:30px;
	width:75px;
	font-size:18px;
	background:black;
	color:black;
	font-weight:bold;
	background:orange;
}
 #finalButtons {
	
	text-align:center;
	float: center;

}

/* Log-in form style end */
/* "under_construction.html" style */

#underCon {
	color:orange;
	font-size:40px;
	padding-top:200px;
	text-align:center;
	background-color:grey;
}

/* "under_construction.html" style */

